<!DOCTYPE html>
<html>
<head>
	<title>Password change done</title>
</head>
<body>
	{% extends 'Detect/base.html' %}

{% block content %}
<h2>Password changed</h2>

<a href="{% url 'dashboard' %}">Back to dashboard</a>
{% endblock %}
</body>
</html>