<!DOCTYPE html>
<html>
<head>
	<title>Password reset confirm</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h2>Confirm password reset</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Confirm">
</form>
{% endblock %}
</body>
</html>