.camera {
	float: left;
	margin-top: 6.5%;
	width: 42vw;
	background-color: #fefced;
	height: 660px;
	margin-left: 2%;
}

.camera button {
	float: right;
	margin-bottom: 3%;
	border: none;
	color: #faf2b5;
	background-color: #a767ff;
	height: 10%;
	width: 20%;
	border-radius: 10px;
	font-family: "Special Elite";
}

.camera button:hover {
	background-color: white;
	color: black;
}

.cam{
	height: 80%;
	width: 100%;
	border-radius: 10px;
}

.timeline h2 {
	color: #f0d200;
	font-weight: 600;
}

