<!DOCTYPE html>
<html>
<head>
	<title>User</title>

</head>
<body>
	{% extends 'Detect/base.html' %}
	{% load static %}
	{% block content %}

	<!-- <div>
    	{% if user.is_authenticated %}
        	<a href="{% url 'logout' %}">Logout</a>
        	<a href="{% url 'password_change' %}">Change password</a>
    	{% else %}
        	<a href="{% url 'register' %}">Login or Register</a>
    	{% endif %}
	</div> -->
	<div class="dashboard">
		<div class="camera">
			<img class="cam" id="img" src="{% url 'cam' %}">
			<button id="btn">GENERATE</button>
		</div>
		<div class="timeline">
			<h2 id="mtitle">Find music according to your emotion!</h2>
			{% if user.is_authenticated %}
			<div id="c" style="visibility: hidden;">
				<h2 id="question">Want to save the list?</h2>
                <input type="text" style="visibility: hidden;" id="emotion" value="" name="listname"/>
				<input type="text" id="listname" placeholder="Name" name="listname"/>
                <button id="list">Save</button>
			</div>
			{% endif %}

			<ul class="list">
				
			</ul>
		 </div>
		</div>
{{ crap|json_script:'crap' }}
<script type="text/javascript">
	var list;
	// console.clear();
	function music(emotion) {
	console.log("running");
    $.ajax({
        url : "{% url 'help' %}", // the endpoint
        type : "GET", // http method
        data : { param_first : emotion}, // data sent with the get request

        // handle a successful response
        success : function(json) {
            console.log("success"); // another sanity check
            console.log(json);
            var ul = $(".list");
            $(ul).empty();
            var li = $('<li/>');
            var i;
            $("#mtitle").html("Your result is: " + emotion);
            $("#c").css('visibility', 'visible');
            $("#emotion").val(emotion);
			for (i = 0; i < json.artist.length; ++i) {
				$(ul).append('<li class="item"><p class="song">'+json.name[i]+' ('+json.genre[i]+')</p>'+'<p class="artist">Artist: '+json.artist[i]+'</p><a class="songlink" target="_blank" href="'+json.album[i]+'">LINK</a></li>');
			}
			list = json;
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        },
    });
};

$('#btn').on('click', function(){
	console.log("running");
	// console.log(get);
    $.ajax({
        url : "{% url 'ca' %}", // the endpoint
        type : "GET", // http method
     //    headers:{
     //    	"X-CSRFToken": "{% csrf_token %}"
    	// },
        // data : { param_first : emotion}, // data sent with the get request
        // handle a successful response
        success : function(json) {
            console.log("success"); // another sanity check4
            console.log(json);
            // var emotion = json.emo;
            var b = json.split("/").pop();
	 		var c = b.split(".");
	 		var f = '';
       		console.log(b);
       		// var d = '{% static "';
       		// var e = '" %}';
       		var d = "{% static '' %}"
            // var path = d.concat(b);
            // path = path.concat(e);
            // console.log(path);
            // f = path;
            $('.cam').attr('src', d+b);
            console.log(c[0]);
            music(c[0]);
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
});

setTimeout(function () {
  stopper();
}, 15000);

function stopper(){
    console.log("running");
    $.ajax({
        url : "{% url 'ca' %}", // the endpoint
        type : "GET", // http method
        success : function(json) {
            console.log("success"); // another sanity check4
            console.log(json);
            var b = json.split("/").pop();
            var c = b.split(".");
            var f = '';
            console.log(b);
            var d = "{% static '' %}"
            $('.cam').attr('src', d+b);
            console.log(c[0]);
            music(c[0]);
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
}

$('#list').on('click', function(){
	console.log("running");
	// console.log(get);
	var a = $("#listname").val();
    var emo = $("#emotion").val();
	var b = JSON.stringify({list: list, name: a, emotion: emo});
	console.log(b);
    $.ajax({
        url : "{% url 'list' %}", // the endpoint
        type : "POST", // http method
        // headers: { "X-CSRFToken": getCookie("csrftoken") },
        data : {'data': b, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(json) {
            console.log("success"); // another sanity 
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
});

</script>
	{% endblock %}
</body>
</html>