<!DOCTYPE html>
<html>
<head>
	<title>Playlist</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'list1.css' %}">
</head>
<body>
	<!-- <h1>Hello</h1> -->

	<div class="header {% block header %}{% endblock%}">
			<a id="left" href="{% url 'dashboard' %}"><img src="{% static 'ff.png' %}" id="fleur"><span id="link">RECOMMENDATION</span></a>
		{% if user.is_authenticated %}
        	<a href="{% url 'logout' %}"><span id="link">Logout</span></a>
        	<a href="{% url 'mylist' %}"><span id="link">My Lists</span></a>
        	<!-- <a href="{% url 'password_change' %}">Change password</a> -->
    	{% else %}
        	<a href="{% url 'register' %}"><span id="link">Login</span></a>
    	{% endif %}
	</div>
	<h2 id="mtitle">YOUR PLAYLISTS</h2>
	<div class="list">
			{% load ditto_lastfm %}

{% top_tracks as tracks %}

{% for track in tracks %}
    <p>
        {{ forloop.counter }}.
        {{ track.artist.name }} - {{ track.name }}:
        {{ track.scrobble_count }}
    </p>
{% endfor %}
	</div>
<script type="text/javascript">
</script>
</body>
</html>