<!DOCTYPE html>
<html>
<head>
	<title>LALALALALA</title>

	{% load static %}
	<style>
#container1 {
	margin: 0px auto;
	width: 270px;
	height: 200px;
	border: 10px #333 solid;
    float: left;
}
#videoElement {
	width: 270px;
	height: 200px;
	background-color: #666;
}
</style>
</head>
<body>
<div id="container1">
        
	        <video onclick="snapshot(this)" autoplay="true" id="videoElement">
	
	        </video>
            <button id="fr" onclick="myFunction();">Song recommendation</button>
            <button onclick="snapshot();">Take Snapshot</button>
            <ul id="list">
                
            </ul>
            Screenshots : <p>
      <canvas  id="myCanvas" width="400" height="350"></canvas> 
        </div>
</body>
<script>

var video = document.querySelector("#videoElement");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

function myFunction() {

    let items = [
        'Blue',
        'Red',
        'White',
        'Green',
        'Black',
        'Orange'
    ];
    canCapture = true;
if (!video.canPlayType('video/wmv')) {
    /* If you don't have multiple sources, you can load up a Flash fallback here
       (like jPlayer), but you won't be able to capture frames */
    canCapture = false;
    return;
}
video.src = 'myvideo.wmv';
container.appendChild(video);
video.play();
    var canvas = document.createElement('canvas');
canvas.width = 640;
canvas.height = 480;
var ctx = canvas.getContext('2d');
ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

//convert to desired file format
var dataURI = canvas.toDataURL('C:/dj projects/deploy/test1/static/png'); // can also use 'image/png
}
function snapshot() {
         // Draws current image from the video element into the canvas
        canvas1 = document.getElementById('myCanvas');
        var ctx = canvas1.getContext('2d');
        ctx.drawImage(video, 0, 0, canvas1.width, canvas1.height);
        var img = ctx.getImageData(0,0,400,350);
        var dataURI = canvas1.toDataURL('C:/dj projects/deploy/test1/static/jpg');
        //window.open(dataURI);
        window.location.href=dataURI;
      }
</script>
</html>